.expenses-table-container {
  overflow-x: auto;
}

.expenses-table {
  width: 100%;

  &__row {
    &--header {
      border-bottom: 1px solid #e5e7eb;
    }

    &:not(&--header) {
      &:hover {
        background-color: #f9fafb;
      }
    }
  }

  .expenses-table__cell {
    padding: 0.75rem 1rem;

    &:last-of-type {
      text-align: right;
    }

    &--header {
      text-align: left;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
}
