@import "mixins";

/* Element Plus styles are automatically imported */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f5f7;

  @include scrollbar();

  .el-card {
    --el-card-border-radius: 24px;
  }

  .el-dialog,
  .el-button {
    --el-border-radius-base: 24px;
  }

  .el-dialog {
    --el-color-primary: #0052a2;
  }

  .el-select,
  .el-input {
    --el-border-radius-base: 12px;
    --el-input-focus-border-color: #0052a2;
    --el-color-primary: #0052a2;
  }

  .el-date-picker {
    --el-datepicker-active-color: #0052a2;
    --el-datepicker-hover-text-color: #0052a2;
  }

  .el-date-editor {
    --el-date-editor-width: 100%;
  }

  .el-popper {
    --el-popper-border-radius: 12px;
  }

  .el-button+.el-button {
    margin-left: 0;
  }

  .el-button {
    transition: all 0.3s;

    &:not(&--danger) {
      --el-button-border-color: #0052a2;
      --el-button-hover-border-color: #0070c0;
    }

    &:not(&--danger, &--primary) {
      --el-button-text-color: #0052a2;
      --el-button-hover-text-color: #0070c0;
      --el-button-hover-bg-color: transparent;
    }

    &--primary {
      --el-button-bg-color: #0052a2;
      --el-button-hover-bg-color: #0070c0;
    }
  }
}
