@mixin scrollbar(
  $width: 4px,
  $height: 4px,
  $trackColor: #f8f9fa,
  $thumbColor: #d9d9d9,
  $hoverColor: #0052a2,
  $trackBorderRadius: 2px,
  $thumbBorderRadius: 4px,
  $hideScrollbar: false,
  $stableScrollbarGutter: true
) {
  @if $hideScrollbar == true {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  } @else {
    @if $stableScrollbarGutter == true {
      scrollbar-gutter: stable;
    }

    &::-webkit-scrollbar {
      width: $width;
      height: $height;
    }

    &::-webkit-scrollbar-track {
      border-radius: $trackBorderRadius;
      background: $trackColor;
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $thumbBorderRadius;
      background: $thumbColor;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $hoverColor;
    }
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-desktop-small {
  @media screen and (min-width: 768px) and (max-width: 1319px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-small {
  @media screen and (min-width: 1024px) and (max-width: 1319px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1320px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
